@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
body {
  background-color: #000000;
  color: #fff;
}

/* Navigation links */
.link-gold {
  @apply text-gray-300 hover:text-yellow-500 transition-colors;
}

/* Card overlay */
.card-overlay {
  @apply absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-80 group-hover:opacity-100 transition duration-300;
}

/* Play button */
.play-button {
  @apply bg-yellow-500 text-black p-4 rounded-full shadow-lg hover:scale-110 transition;
}

.text-filmsouk-gold {
  color: #D4AF37;
}

.bg-filmsouk-gold {
  background-color: #D4AF37;
}

.border-filmsouk-gold {
  border-color: #D4AF37;
}

/* animation icon card */
@keyframes spinZoom {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.2) rotate(20deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.play-animate:hover {
  animation: spinZoom 0.6s ease-in-out;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

